.form {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 20px;
}

@media (max-width: 720px) {
    .form {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 15px;
    }
}

.form__input {
    padding: 10px;
    border: 2px solid #ededed;
}

.form__button {
    background-color: #037c7c;
    border: 1px solid #08abab;
    color: #ffffff;
    padding: 5px;
}

.form__button:hover {
    background-color: #016a6a;
    
}

.form__button:active {
    background-color:  #057d7d;
}
